body {
  font-family: sans-serif;
}
h1 {
  color: #2f4f4f;
  margin-bottom: 10px;
}
.nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}
.nav li {
  display: inline-block;
}
.nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px 15px;
  border-radius: 2px;
  text-decoration: none;
}
.nav .featured {
  background-color: orange;
  box-shadow: 10px 2px #6F9090;
}
.footer {
  background-color: #CCC;
  color: #666;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
.footer a {
  color: inherit;
}
.padded {
  background-color: #EEE;
  font-size: 16px;
  padding: 2em;
}
.box {
  background-color: #CCC;
  padding: 1em;
  border-radius: 1em;
}
.box-small {
  font-size: 14px;
}
.box-large {
  font-size: 28px;
}
