:root {
  font-size: 16px;
}
header {
  background-color: #EEE;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  height: 8rem;
}
header > h1 {
  display: inline-block;
}
header > button {
  position: absolute;
  right: 2em;
  top: 4em;
}
.text {
  margin-top: 8.5rem;
  margin-bottom: 2.5rem;
}
footer {
  background-color: #DDD;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.5rem;
  height: 2rem;
  z-index: 1;
}
.ad {
  position: fixed;
  bottom: 0;
  right: 20px;
  opacity: 0.2;
  z-index: 2;
}
/* .paragraph2 {
  position: relative;
  top: -2em;
} */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-label {
  padding: 0.5em 1.5em;
  border: 1px solid #CCC;
  background-color: #EEE;
}
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 2.1em;
  min-width: 100%;
  background-color: #EEE
}
.container {
  position: absolute;
  top: 2em;
  right: 8em;
  font-size: 1rem;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-label::after {
  content: " \25bc";
}
.dropdown-label:hover {
  cursor: pointer;
}
.dropdown-label:hover::after {
  content: " \25b2";
}
.submenu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border: 1px solid #999;
}
.submenu > li + li {
  border-top: 1px solid #999;
}
.submenu > li > a {
  display: block;
  padding: 0.5em 1.5em;
  background-color: #EEE;
  color: #369;
  text-decoration: none;
}
.submenu > li > a:hover {
  background-color: #FFF;
}
